<!doctype html>
<html data-ng-app="letsMeet">
<head>
    <!-- TODO change to angular-min; but leaving as full version for easier debugging now -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.4.0/restangular.js"></script>
    <script type="text/javascript" src="meet.js"></script>
    <script type="text/javascript" src="todo.js"></script>

    <link rel="stylesheet" href="todo.css">
</head>
<body>
Let's Meet!

<div data-ng-controller="MeetingCtrl">
    <p>The Meetings:{{meetings}}</p>

    <table>
    <tbody>
        <tr data-ng-repeat="meeting in meetings">
            <td>{{meeting.id}}</td>
            <td>{{meeting.name}}</td>
        </tr>
    </tbody>
    </table>


    <form data-ng-submit="addMeeting()">
        <input type="text" data-ng-model="meetingName"  size="30" placeholder="enter new meeting name here">
        <input class="btn-primary" type="submit" value="add">
    </form>

    <p>Created a new meeting: {{meeting}}</p>
    <p>The ID is {{meeting.id}}</p>
    <p>The name is {{meeting.name}}</p>
</div>

<a href="todo.html">TODOs</a>
</body>
</html>